<% provide(:title, "68 Herbs") %>
<% provide(:p, "A collection of research on 68 herbs from the chinese_herbs.csv data set.") %>

<center><h1>Herbs Table</h1></center>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  dir = "asc"; 
  while (switching) {
    switching = false;
    rows = table.getElementsByTagName("TR");
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      //alert(x.innerHTML);
      y = rows[i + 1].getElementsByTagName("TD")[n];
      //alert(y.innerHTML); //grabs the whole li class dropwdown row
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }   
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }   
      }   
    }   
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;    
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }   
    }   
  }
}





function sortTheNums(n){
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  dir = "asc";
  while(switching){
    switching = false;
    rows = table.getElementsByTagName("TR");
    for(i = 1; i < (rows.length - 1); i++){
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      var x_num = x.innerHTML;
      var y_num = y.innerHTML;

      if(dir == "asc"){
        if(parseFloat(x_num,10) > parseFloat(y_num,10)){
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc"){
        if(parseFloat(x_num,10) < parseFloat(y_num,10)){
          shouldSwitch = true;
          break;
        }
      }
    }
    if(shouldSwitch){
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc"){
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

<div class="container">

<table class="table" id="myTable">
	<thead>
		<tr>
			<th scope="col" onclick="sortTable(0)">Name</th>
			<th scope="col" onclick="sortTheNums(1)">TPC_M</th>
			<th scope="col" onclick="sortTheNums(2)">TPC_SD</th>
			<th scope="col" onclick="sortTheNums(3)">Flav_M</th>
			<th scope="col" onclick="sortTheNums(4)">Flav_SD</th>
			<th scope="col" onclick="sortTheNums(5)">FRAP_M</th>
			<th scope="col" onclick="sortTheNums(6)">FRAP_SD</th>
			<th scope="col" onclick="sortTheNums(7)">DPPH_M</th>
			<th scope="col" onclick="sortTheNums(8)">DPPH_SD</th>
		</tr>
	</thead>
	<tbody>
		<% @herbs.each do |herb| %>
			<tr>
				<td>
					<!--%= herb.name %> and %= herb.id %-->
					<%= link_to "#{herb.name}", herbs_show_path(id: herb.id) %>
				</td>
				<td><%= herb.TPC_M.to_f %></td>
				<td><%= herb.TPC_SD.to_f %></td>
				<td><%= herb.Flav_M.to_f %></td>
				<td><%= herb.Flav_SD.to_f %></td>
				<td><%= herb.FRAP_M.to_f %></td>
				<td><%= herb.FRAP_SD.to_f %></td>
				<td><%= herb.DPPH_M.to_f %></td>
				<td><%= herb.DPPH_SD.to_f %></td>
			</tr>
		<% end %>
	</tbody>
</table>	

</div>
