<% provide(:title, "#{@herb.name} information") %>
<% provide(:p, "<span style='font-color: #f4e6e5;'>Below is displayed data on the #{@herb.name} herb.</span>".html_safe) %>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("showTable");
  switching = true;
  dir = "asc"; 
  while (switching) {
    switching = false;
    rows = table.getElementsByTagName("TR");
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      //alert(x.innerHTML);
      y = rows[i + 1].getElementsByTagName("TD")[n];
      //alert(y.innerHTML); //grabs the whole li class dropwdown row
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }   
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }   
      }   
    }   
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;    
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }   
    }   
  }
}



function show_sortTheNums(n){
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("showTable");
  switching = true;
  dir = "asc";
  while(switching){
    switching = false;
    rows = table.getElementsByTagName("TR");
    for(i = 1; i < (rows.length - 1); i++){
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      var x_num = x.innerHTML;
      var y_num = y.innerHTML;
  
      if(dir == "asc"){
        if(parseFloat(x_num,10) > parseFloat(y_num,10)){
          shouldSwitch = true;
          break;
        }   
      } else if (dir == "desc"){
        if(parseFloat(x_num,10) < parseFloat(y_num,10)){
          shouldSwitch = true;
          break;
        }   
      }   
    }   
    if(shouldSwitch){
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++; 
    } else {
      if (switchcount == 0 && dir == "asc"){
        dir = "desc";
        switching = true;
      }   
    }   
  }
}
</script>


<div class="container">


<%= render 'herbs/key' %><br>

	<h3><%= @herb.name %> Data</h3>
	<table class="table" id="showTable">
		<thead>
			<tr>
				<th scope="col" onclick="sortTable(0)">Type of<br>measurement</col>
				<th scope="col" onclick="show_sortTheNums(1)">Mean</col>
				<th scope="col" onclick="show_sortTheNums(2)">SD</col>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Total Phenolic content<br>(mg GAE/g dw)</td>
				<td><%= @herb.TPC_M %></td>
				<td><%= @herb.TPC_SD %></td>
			</tr>
			<tr>
				<td>Flavonoids content<br>(mg RE/g dw)</td>
				<td><%= @herb.Flav_M %></td>
				<td><%= @herb.Flav_SD %></td>
			</tr>
			<tr>
				<td>FRAP value<br>(Fe(II)mmol/g dw)</td>
				<td><%= @herb.FRAP_M %></td>
				<td><%= @herb.FRAP_SD %></td>
			</tr>
			<tr>
				<td>DPPH scavenging <br>capacity (%)</td>
				<td><%= @herb.DPPH_M %></td>
				<td><%= @herb.DPPH_SD %></td>
			</tr>
		</tbody>
	</thead>
</table>
				
</div>


<div class="container">
	<br><!--%= render 'herbs/key' %-->
	<%= render 'static_pages/phenolic_compounds' %>
	<%= render 'static_pages/flavonoids_content' %>
	<%= render 'static_pages/FRAP_value' %>
	<%= render 'static_pages/DPPH_sca_cap' %>
</div>
