<!DOCTYPE html>
<html>
  <head>
    <title>SetsOfData</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

  <nav class="navbar navbar-default navbar-expand-sm">
    &nbsp;&nbsp;<%= link_to 'Home', root_path, method: :get %>
    <!--&nbsp;&nbsp;%= link_to 'Info', static_pages_info_path, method: :get %-->
		&nbsp;&nbsp;<%= link_to 'Herb Data', herbs_graph_two_path, method: :get %>
		<!--&nbsp;&nbsp;<li class="dropdown" style="list-style-type: none;">
			<a class="dropdown-toggle" href="#" data-toggle="dropdown">Charts/Graphs</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown"-->
					&nbsp;&nbsp;<%= link_to 'Phenolic Content', herbs_graph_one_path, method: :get %>
					&nbsp;&nbsp;<%= link_to 'Flavonoids Content', herbs_graph_three_path, method: :get %>
					&nbsp;&nbsp;<%= link_to 'FRAP Value', herbs_graph_four_path, method: :get %>
					&nbsp;&nbsp;<%= link_to 'DPPH Scavenging Cap.', herbs_graph_five_path, method: :get %>
					<!--&nbsp;&nbsp;%= link_to 'test graph', herbs_graph_six_path, method: :get %><br>
					&nbsp;&nbsp;%= link_to '7th test graph', herbs_graph_seven_path, method: :get %-->
		<!--/li-->
    <!--%= link_to 'Chat', rooms_show_path, method: :get %-->
    &nbsp;&nbsp;<%= link_to 'Sources', static_pages_sources_path, method: :get %>
	</nav>

	<div class="center jumbotron jumbotron-fluid">
		<div class="container">
			&nbsp;<h2 style="color: #f4e6e5;">Herbs <span id="bar">|</span>
			<%= yield(:title) %></h2>
			<%= yield(:p) %></h2>
		</div>
	</div>
		

  <body>
		<span id="geoIP"></span>
    <%= yield %>
  </body>

<div class="chatWrapper">
  <div class="expandRow">
      <span onclick="onMax()" id="chatMax"class="glyphicon glyphicon-plus"></span>
      <span onclick="onMin()" id="chatMin" class="glyphicon glyphicon-minus"></span>
      &nbsp;
  </div>
  <div class="chatRow">
    <h4>
      Chat Room
    </h4>
  </div>

<div id="wholeChat">
  <div id="messages">
    <%= render @messages %>
  </div>

  <form id="messageInput">
    <label>Say something:</label><br>
    <!--input id="mes_input"type="text" placeholder="Type message.." data-behavior="room_speaker"-->
    <textarea id="mes_input"type="text" placeholder="Type message.." data-behavior="room_speaker"></textarea>
    <p-small>(press enter to send)</p-small>
  </form>
</div>
</div>



 <br>&nbsp;<br>&nbsp;<br>&nbsp;<br>
  <div class="footer navbar-fixed-bottom">
  </div>
</html>
