<!DOCTYPE html>
<html>
  <head>
    <title>SetsOfData</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

  <nav class="navbar navbar-default navbar-expand-sm">
    &nbsp;&nbsp;<%= link_to 'Home', root_path, method: :get %>
    &nbsp;&nbsp;<%= link_to 'Info', static_pages_info_path, method: :get %>
		&nbsp;&nbsp;<li class="dropdown" style="list-style-type: none;">
			<a class="dropdown-toggle" href="#" data-toggle="dropdown">Charts</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					&nbsp;&nbsp;<%= link_to 'Graph One', herbs_graph_one_path, method: :get %><br>
					&nbsp;&nbsp;<%= link_to 'Graph Two', herbs_graph_two_path, method: :get %>
			</div>
		</li>
	</nav>

	<div class="center jumbotron jumbotron-fluid" style="background-color: #8e0900;">
		<div class="container">
			&nbsp;<h2>Herbs <span id="bar">|</span>
			<%= yield(:title) %></h2>
			<%= yield(:p) %></h2>
		</div>
	</div>
		

  <body style="background-color: #ffbe70;">
    <%= yield %>
  </body>
</html>
